.board {
    display: grid;
    width: 38vw;
    height: 38vw;
    background-color: lightgray;
    gap: 1px;
}

.cell {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: xx-large;
}
.redButton {
    background-color: red;
}