* {
  margin: 0px;
  padding: 0px;
}
.container {
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  grid-template-rows: 2fr 3fr 2fr 2fr 2fr;
  box-shadow: 10px 5px 5px black;
  margin: 20px;
}

.box-beige-1 {
  background-color: beige;
  grid-column: 1/ 2;
  grid-row: 1 / 2;
  border-bottom: solid 10px black;
  border-right: solid 10px black;
}
.box-beige-2 {
  background-color: beige;
  grid-column: 1/ 2;
  grid-row: 2 / 4;
  border-top: solid 10px black;
  border-right: solid 10px black;
}
.box-blue {
  background-color: blue;
  grid-column: 1/ 2;
  grid-row: 4 / 7;
  border-top: solid 10px black;
  border-right: solid 10px black;
}
.box-red {
  background-color: red;
  grid-column: 2/ 7;
  grid-row: 1 / 4;
}
.box-beige-3 {
  background-color: beige;
  grid-column: 2/ 4;
  grid-row: 4 / 7;
  border-top: solid 10px black;
  border-right: solid 10px black;
}
.box-beige-4 {
  background-color: beige;
  grid-column: 6/ 7;
  grid-row: 4 / 5;
  border-top: solid 10px black;
}
.box-yellow {
  background-color: yellow;
  grid-column: 6/ 7;
  grid-row: 5 / 7;
  border-top: solid 10px black;
}
