.main {
    padding-left: 20vw;
    padding-right: 20vw;
}

.form {
    display: flex;
    flex-direction: column;
}

#chat-section {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding: 10px;
}

.chat-user {
    cursor: pointer;
}

.chat-user-online::marker {
    color: gray;
}

#chat {
    display: none;
}

#chat-messages {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    list-style: none;
}

.chat-message--left {
    align-self: flex-start;
}

.chat-message--right {
    align-self: flex-end;
}