body {
    margin: 0
}

.main {
    padding-left: 20vw;
    padding-right: 20vw;
}

/* register & login */

.form {
    display: flex;
    flex-direction: column;
}

/* top-menu */

#top-menu {
    display: flex;
    justify-content: end;
}

/* chat */

#chat-section {
    padding: 10px;
    margin-bottom: 60px;
}

.chat-section--off {
    display: none;
}

.chat-user {
    cursor: pointer;
}

.chat-user-online::marker {
    color: limegreen;
}

.chat-user-offline::marker {
    color: gray;
}

.chat--off {
    display: none;
}

#chat-messages {
    min-height: 40px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    list-style: none;
}

.chat-message--left {
    align-self: flex-start;
    text-align: left;
}

.chat-message--right {
    align-self: flex-end;
    text-align: right;
}

sup {
    font-size: 10px;
    color: lightgrey;
}

#chat-form {
    display: flex;
    gap: 5px;
}

#chat-form>#text {
    width: 100%;
}

/* posts */

#posts-section {
    margin-bottom: 60px;
}

.posts-section--off {
    display: none;
}

.post {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.post-image {
    width: 100%;
}

/* create-post */

#create-post-section {
    margin-bottom: 40px;
    position: fixed;
    bottom: 0;
    background-color: darkgray;
    width: 100%;
    padding-bottom: 10px;
}

.create-post-section--off {
    display: none;
}

#create-post-form {
    display: flex;
    flex-direction: column;
}

/* footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    height: 40px;
}