.container {
    width: 80vw;
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
   

}

.sub-container{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;

}

/* .sub-container1{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;

} */


.box img{
    border-radius: 10px;
    border: solid 2px black;
    height: 200px;
    background-color: brown;

}

img{
    width: 100%;
    height: 100%;
}