 body {
     margin: 0
 }

 .main {
     padding-left: 20vw;
     padding-right: 20vw;
 }

 /*register and login*/

 .form {
     display: flex;
     flex-direction: column;
 }

 /*top-menu*/

 #top-menu {
     display: flex;
     justify-content: end;
 }

 /*chat*/

 #chat-section {
     margin-bottom: 60px;
     padding: 10px;
 }

 .chat-section--off {
     display: none;
 }

 .chat-user {
     cursor: pointer;
 }

 .chat-user-online::marker {
     color: limegreen;
 }

 .char-user-offline::marker {
     color: gray;
 }

 #chat {
     display: none;
 }

 #chat-messages {
     min-height: 40px;
     display: flex;
     flex-direction: column;
     padding: 10px;
     list-style: none;
 }

 .chat-message--left {
     align-self: flex-start;
     text-align: left;
 }

 .chat-message--right {
     align-self: flex-end;
     text-align: right;
 }

 #chat-form {
     display: flex;
     gap: 5px;
 }

 #chat-form>#text {
     width: 100%;
 }

 /* posts*/

 .post {
     border: 1px solid black;
     margin: 10px;
     padding: 10px;
 }

 .post-image {
     width: 100%;
 }

 /*create-post*/

 #create-post-section {
     margin-bottom: 40px;
     position: fixed;
     bottom: 0;
     background-color: darkgrey;
     width: 100%;
     padding-bottom: 10px;
 }

 .create-post-section--off {
     display: none;
 }

 #create-post--form {
     display: flex;
     flex-direction: column;
 }

 /*footer*/

 footer {
     display: flex;
     justify-content: center;
     align-items: center;
     position: fixed;
     bottom: 0;
     width: 100%;
     background-color: lightgray;
     height: 40px;
 }