#root {
    max-width: 1289px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.board {
    display: grid;
    margin: 10%;
    border: 2px solid rgb(26, 1, 1);
    width: 400px;
    height: 400px;
    background-color: aliceblue;
    gap: 1px;
}

.clicked-cell {
    background-color: rgb(132, 4, 4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell-button {
    width: 100%;
    height: 100%;
    background-color: brown;
    box-shadow: inset grey;
}