body{
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.header h1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.board{
  display: grid;
  border: 2px solid black;
  height: 600px;
  width: 600px;
  gap:1px;
  background-color: lightgray;
  padding: 10px;
}
.clicked-cell{
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;

}
.cell-button{
  width: 100%;
  height: 100%;
  box-shadow: inset gray 0px 0px 60px -12px;
  background-color: indigo;
}
