body{
    display:flex;
    justify-content: center;

}
main{
    display: flex;
    flex-direction: row;
}
.palette{
    margin-left:5px;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    background-color: lightgray;
    padding: 2px 0 2px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
    color:darkblue;
    font-size: medium;

}
.board {
    display: grid;
    width: 40vw;
    height: 40vw;
    background-color: lightgray;
    gap: 3px;
    border: 4px solid #34495e; 
}

.cell {
    transition: background-color 0.3s;
}
.cell:hover {
    background-color: #2c3e50; 
}
footer {
    margin-top:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.redButton{
    background-color: red;
    
}
.pinkButton{
    background-color: pink;
}
.purpleButton{
    background-color: purple;
}
.blueButton{
    background-color: blue;
}
.greenButton{
    background-color: green;
}
.yellowButton {
    background-color: yellow;
}
.orangeButton{
    background-color: orangered;
}
.redButton, .pinkButton, .purpleButton, .blueButton, .greenButton, .yellowButton, .orangeButton{
    margin-bottom:2px;
}
