*{
    box-sizing: border-box;
}

.container{
    width: 450px;
    height: 550px;
    border: solid 2px black;
}



/*upper-container*/

.upper-container{
    width: 100%;
    height: 10%;
    border: solid 2px black;
    display: flex;
    _justify-content: space-between;
}
/* styles upper-container*/

.upper-left-white {
    width: 20%;
    height: 100%;
    background-color: beige;
    border: solid 2px black;
}

.upper-right-white{

    width: 60%;
    height: 100%;
    background-color: beige;
    border: solid 2px black;
}
           
.upper-yellow {

    width: 20%;
    height: 100%;
    background-color: yellow;
    border: solid 2px black;
} 
/*middle-container*/
.middle-container{
    width: 100%;
    height: 70%;
    border: solid 2px black;
    display: flex;
    
    
}


/*styles middle-container*/

.middle-left-container{
    width: 10%;
    height: 100%;
    background-color: beige;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    

}

.middle-upper-white{
    width: 100%;
    height: 40%;
    background-color: beige;
    border: solid 2px black;
    
    


}

.middle-bottom-white{
    width: 100%;
    height: 60%;
    background-color: beige;
    border: solid 2px black;

}

.middle-middle-container{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    


}

.red-block {
    width: 100%;
    height: 80%;
    background-color: red;
    border: solid 2px black;



    
}

}

.white-black-middle-container{

    width: 69%;
    height: 20%;
    display: flex;
    border: solid 2px black;
    



}

.middle-black{

    height: 100%;
    width: 50%;
    background-color: black;
    border: solid 2px black;


}

.middle-white{

    height: 100%;
    width: 50%;
    background-color: beige;
    border: solid 2px black;




}

_.middle-right-container{
    width: 20%;
    height: 100%;
    background-color: yellow;
    border: solid 2px black;


}

.middle-yellow{
    


}

.middle-right-white{



}

.middle-bottom-right-white{


}

/*bottom-container*/
.bottom-container{
    width: 100%;
    height: 20%;
    border: solid 2px black;
    display: flex;
}

/*styles bottom-container*/
.bottom-middle-container{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.bottom-upper-container{
    width: 100%;
    height: 67%;
    display: flex;
}

.bottom-bottom-container{
    width: 100%;
    height: 33%;
    display: flex;
}
/* Colors bottom-container*/
.bottom-yellow{
    width: 10%;
    height: 100%;
    background-color: yellow;
    border: solid 2px black;
}
.middle-black{
    height: 100%;
    width: 50%;
    background-color: black;
}

.middle-white{
    height: 100%;
    width: 50%;
    background-color: beige;
    border: solid 2px black;
}

.bottom-white{
    height: 100%;
    width: 50%;
    background-color: beige;
    border: solid 2px black;
}

.bottom-black{
    height: 100%;
    width: 50%;
    background-color: black;
    border: solid 2px black;
}

.bottom-blue{
    width: 20%;
    height: 100%;
    background-color: blue;
    border: solid 2px black;
}
