.title {
    color: red;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vw;
    border: 1px solid black;
}

.logo {
    max-width: 100px;
}

.navbar {
    display: flex;
    gap: 5vw;
}