.home-main{
    display: flex;
    width: 100%;
    gap: 20px
}
.main{
    margin-left: 2%;
    margin-right: 2%;
}
.form{
    display: flex;
    flex-direction: column;
}
input{
    height: 30px;
    border: 2px solid black;
    margin-top: 10px;
}
button{
    margin-top: 10px;
    font-size:16px;
    padding: 10px;
    border-radius: 50% solid blue; 
    background-color: rgb(4, 104, 254);
    color: white
}
hr{
    height: 5px;
    background-color: rgb(4, 104, 254);
}
.profile-chat-container{
    display: flex;
    justify-content: space-between;
}
#datos-perfil{
    border: 5px solid black;
    border:radius;
    padding: 10px;
    width:25%;
}
button a{
    text-decoration: none;
    color: white
}
.lista-usuarios{
    border: 3px solid black;
    border: radius;
}
ul#chat-users{
    display: inline;
    width: 20%;
}
li {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
    border-bottom: 1px solid gainsboro;
    padding:10px;
}

#chat-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}
li.chat-user-online::marker{
    color: limegreen;
}
li.chat-user-offline::marker{
    color:gray;
}
li.chat-user-online:hover{
    color: limegreen;
    cursor: pointer
}
li.chat-user-offline:hover{
    color: gray;
    cursor: pointer;
}
#chat{
    margin-top: 10px;
    display: none;
    border: 20px solid lightgreen;
    border: radius;
    z-index: 10;
    width: 78%;
    height: 300px;
    background-color: lightgreen;
}
#chat-messages{
    border: 2px solid black;
    background-color: white;
    min-height: 60px;
    max-width: 90%;
    max-height: 200px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 10px;
    list-style: none;
    z-index: 10;
}
.chat-message--left{
    align-self: flex-start;
}
.chat-message--right{
    align-self: flex-end;
}
