
.main{
    margin-left: 2%;
    margin-right: 2%;
}
.form{
    display: flex;
    flex-direction: column;
}
input{
    height: 30px;
    border: 2px solid black;
    margin-top: 10px;
}
button{
    margin-top: 10px;
    font-size:16px;
    padding: 10px;
    border-radius: 50% solid blue; 
    background-color: rgb(4, 104, 254);
    color: white
}
hr{
    height: 5px;
    background-color: rgb(4, 104, 254);
}
.profile-chat-container{
    display: flex;
    justify-content: space-between;
}
#datos-perfil{
    border: 5px solid black;
    border:radius;
    padding: 10px;
    width: 17%;
    height: 55%;
}
#datos-perfil > button{
    margin-top: -30px
}
button a{
    text-decoration: none;
    color: white
}
.lista-usuarios{
    border: 3px solid black;
    border: radius;
    padding: 10px;
    width: 15%;
}
ul#chat-users{
    display: inline;
}
li {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
    border-bottom: 1px solid gainsboro;
    padding:10px;
}

#chat-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}
li.chat-user-online::marker{
    color: limegreen;
}
li.chat-user-offline::marker{
    color:gray;
}
