
.main{
    padding-left: 20vw;
    padding-right: 20vw;
}
.form{
    display: flex;
    flex-direction: column;
}
input{
    height: 30px;
    border: 2px solid black;
    margin-top: 10px;
}
button{
    margin-top: 10px;
    font-size:16px;
    padding: 10px;
    border-radius: 50% solid blue; 
    background-color: rgb(4, 104, 254);
    color: white
}
hr{
    height: 5px;
    background-color: rgb(4, 104, 254);
}
#datosPerfil{
    border: 5px solid black;
    border:radius;
    padding: 10px;
    width:15%;
}
button a{
    text-decoration: none;
    color: white
}
li::marker{
    color: limegreen;
}
