@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Sen;
}

.burger {
    color: white;
    height: 30px;
    width: 30px;
    position: fixed;
    z-index: 1000000000;
}