.ashe1{
    background-color: rgb(174 218 255);
    text-align: center;
}

.main {
    padding-left: 20vw;
    padding-right: 20vw;
    background-color: aliceblue;
}

.form {
    display: flex;
    flex-direction: column;
}

.textos{
    font-size: 30px;
}

#enviarboton{
    height: 50px;
    margin-top: 20px;
    background-color: aqua;
    -webkit-transition:all .9s ease; /* Safari y Chrome */
    -moz-transition:all .9s ease; /* Firefox */
    -o-transition:all .9s ease; /* IE 9 */
    -ms-transition:all .9s ease; /* Opera */
    width:100%;
    z-index: 10000;
}

.formulario {
    height: 50px;
    font-size: 30px;
}

#conectarboton{
    border: solid;
    background-color: cyan;
    position: relative;
    font-size: 33px;
    left: 105%;
    top: 50px;
}



#enviarboton:hover{
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
    }