.main {
    padding-left: 20vw;
    padding-right: 20vw;
}

.form {
    display: flex;
    flex-direction: column;
}

#online-users{
    width: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    left: 80%;
    position: fixed;
    border: solid black;
    background-color: aliceblue;
    font-size: 25px;
    border-radius: 200px 50px 50px 200px;
    text-align: center;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
}

#online-users:hover{
-webkit-transform: rotate(360deg);transform: rotate(360deg);
}

#logout-button{
    position: absolute;
    padding: 1%;
    left: 82%;
    top: 3%;
    background-color: black;
    color: white;
    font-size: 32px;
    justify-self: center;
    z-index: 1000;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    border-radius: 200px 200px 200px 200px;
}

#logout-button:hover{
    -webkit-transform:scale(1.4);
    -moz-transform:scale(1.4);
    -ms-transform:scale(1.4);
    -o-transform:scale(1.4);
    transform:scale(1.4);
}

#oliwis{
    position: static;
    background-color: #eeeeee;
    padding: 1%;
    border-radius: 200px 200px 200px 200px;
    left: 38%;
    color: black;
    top: 70%;
    text-align: center;
}

.oliwish{
    background-color: black;
    width: 98%;
    height: 150px;
    position: absolute;
    left: 1%;
    border-radius: 100px 1000px 100px 1000px;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
}

.oliwish:hover{
    box-shadow: 0px 0px 15px 15px #000000;
    -webkit-box-shadow: 0px 0px 15px 15px #000000;
}

#chat-section {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
}

.chat-user {
    cursor: pointer;
}

.chat-user-online::marker {
    color: limegreen;
}


.chat-user-offline::marker {
    color: gray;
}

#chat {
    display: none;
}

#messages {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    min-height: 40px;
}

#chat-messages {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    list-style: none;
    background-color: white;
    font-size: 40px;
    padding-left: 150px;
    padding-right: 150px;
}

.chat-message--left {
    align-self: flex-start;
}

.chat-message--right {
    align-self: flex-end;
}

#enviar{
    background-color: dodgerblue;
    height: 70px;
    width: 120px;
    margin-left: 55px;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    position: absolute;
}

#enviar:hover{
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);
}

#text{
    width: 85%;
    height: 80px;
    font-size: 35px;
}