.ashe1{
    background-color: rgb(174 218 255);
    text-align: center;
    border-radius: 20px 20px 1000px 1000px;
    top: 7px;
    position: relative;
}

.main {
    background-color: aliceblue;
    position: absolute;
    left: 20%;
    right: 20%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 100px 100px 50px 50px;
    height: 80%;
}

.form {
    display: flex;
    flex-direction: column;
}

#username{
    height: 8vh;
}

#password{
    height: 8vh;
}

.username{
    font-size: 30px;
}

.password{
    font-size: 30px;
}

.submit{
    position: relative;
    top: 50px;
    width: 500px;
    height: 50px;
    align-self: center;
    background-color: deepskyblue;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
}

.submit:hover{
    -webkit-transform:scale(1.4);
    -moz-transform:scale(1.4);
    -ms-transform:scale(1.4);
    -o-transform:scale(1.4);
    transform:scale(1.4);
    }

.register {
    top: 65vh;
    position: absolute;
    font-size: 40px;
    background-color: #abffff;
    width: 25vh;
    text-align: center;
    border-radius: 50px 50px 50px 50px;
}