body {
    margin: 0
}

.main {
    padding-left: 20vw;
    padding-right: 20vw;
}


/*register & login*/

.form {
    display: flex;
    flex-direction: column;
}

/*top menu*/

#top-menu {
    display: flex;
    justify-content: end;
}


#chat-section {
    padding: 10px;
    margin-bottom: 60px;
}

.chat-section--off {
    display: none;
}

.chat-user {
    cursor: pointer;
}

.chat-user-online::marker {
    color: gray;
}

.chat-user-ofline::marker {
    color: grey
}

#chat {
    display: none;
}

#chat-mesagges {

    min-height: 40px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    list-style: none;
}

.chat-message--left {
    aling-self: flex-start;
    text-aling: left;
}

.chat-message--right {
    aling-self: flex-end;
    text-align: right;
}

sup {
    front-size: 10px;
    color: lightgrey;
}

#chat-form>#text {
    width: 100%
}

/*posts*/