.main {
    padding-left: 30vw;
    padding-right: 30vw;
}

.form {
    display: flex;
    flex-direction: column;
}

li.online::marker {
    color: limegreen;
}

li.offline::marker {
    color: gray;
}