.container {
    gap: 10px;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 2fr 1fr;
}

.header {
    background-color: aquamarine;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    border-radius: 30px;
}

.left-navigation {
    background-color: orange;
    border-radius: 60px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.content {
    background-color: gray;
    border-radius: 50px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.footer {
    background-color: green;
    border-radius: 30px;
    grid-column: 1 / 3;
    grid-row: 3 / 4
}