body{
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
    width: 100vw;
}

  
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}
main{
    display: flex;
    flex-direction: column ;
    align-items: center;
}
/* register, login and reset password*/

.form {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap:6px;
}

label{
    margin-top: 3px;
}
input{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input:hover{
    background-color: rgb(237, 239, 239);
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.container-a{
    display: flex;
    justify-content: center;
    width: 60%;
    height: 40%;
    background-color: rgb(217, 217, 213);
    border-radius: 10px;
    margin-top: 6px;

}

.container-a:hover{
    background-color: rgb(195, 195, 194);
}
a { 
    text-decoration: none;
    color: #0056b3;
}

a:hover {
    color: #042e5a;
}
/* top-menu */
 #top-menu{
    display: flex;
 }
 .start-nav{
   justify-content: left; 
 }
 .end-nav{
    display: flex;
    justify-content: end;
 }

/* posts */


/* aside chat */
aside {
    position: fixed;
    top: 50%; 
    right: 0; 
    transform: translateY(-50%); /* para ajustar la posición vertical */
    width: 320px; 
    min-height: 460px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
aside h3 {
 color:aliceblue;
 background-color: darkgrey; 
 padding: 10px 30px; 
 border-radius: 5px;
 border: 2px solid aliceblue; 
 text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 

}
#chat-section {
    padding: 10px;
    border: 1px Solid black;
}

.chat-user {
    cursor:pointer;
}
.chat-user-online::marker{
    color:limegreen;
}
.chat-user-offline::marker{
    color:gray;
}
#chat {
    display: none;

}
#chat-messages{
    border: 1px solid black;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    list-style: none;
}
.chat-message--left{
    align-self:flex-start;

}
.chat-message--right{
    align-self:flex-end;
}

/* footer */
footer{
        
        background-color: dimgrey;
        color: white;
        padding: 20px;
        position: fixed;
        bottom: 0;
        width: 100%;
        display:flex;
        justify-content: space-between;
        align-items: center    
}
footer div {
    display: flex;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

footer .right button {
   
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}
footer .right button:hover{
    background-color:aquamarine ;
}