.board {
    display: grid;
    border: 2px solid black;
    width: 400px;
    height: 400px;
    gap: 1px;
}

.clicked-cell {
    background-color: transparent;
}

.no-clicked-cell {
    background-color: gray;
}